<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/create_new_password_page.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-social.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <% if (locals.userEnteredEmailId) { %>
        <form action = "/create-new-password" method = "post" id="create_new_password_page_form">
            <p>Password reset token has been sent to the email address</p>
            <div class = "create_new_password_page_container">
                <div class = "create_new_password_page_title_container">
                    <h1>Create New Password</h1>
                    <p>Please create a new password for the email id after verifying the token</p>
                    <hr>
                </div>
                <p>Entered email id: <%= userEnteredEmailId %></p>
                <label for = "create_new_password_page_token"><b>Enter the generated token to your email Id</b></label>

                <input type = "text" placeholder="Enter the generated token to your email Id" name="create_new_password_page_token" id="create_new_password_page_token" size="250" required>

                <label for = "create_new_password_page_new_password"><b>Enter the new password</b></label>

                <input type = "password" placeholder="Enter the new password" name="create_new_password_page_new_password" id="create_new_password_page_new_password" size="250" required>

                <label for = "create_new_password_page_confirm_password"><b>Enter the password again </b></label>

                <input type = "password" placeholder="Enter the password again" name="create_new_password_page_confirm_password" id="create_new_password_page_confirm_password" size="250" required>

                <button type="submit" class="createNewPasswordLinkBtn btn btn-success" id="createNewPasswordLinkSubmit">Update the password</button>
            </div>
        </form>  
     <% } %>         
    </body>
    <script>
        $(document).ready(function () {
            $('#create_new_password_page_form').submit(function(event) {
                event.preventDefault(); 
                var password = document.getElementById("create_new_password_page_new_password").value;
                var passwordRepeat = document.getElementById("create_new_password_page_confirm_password").value;
                var passwordId = document.getElementById("create_new_password_page_new_password");
                var passwordRepeatId = document.getElementById("create_new_password_page_confirm_password");
                var passwordMatchRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/;
                if (!passwordMatchRegex.test(password)){
                    passwordId.setCustomValidity('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)');
                    passwordId.focus();
                    return false;
                }
                else{
                    passwordId.setCustomValidity('');
                }
                if (password !== passwordRepeat){
                    passwordRepeatId.setCustomValidity('Passwords dont match');
                    passwordRepeatId.focus();
                    return false;
                }
                else{
                    passwordRepeatId.setCustomValidity('');
                }
                this.submit();
                });
            
            // Clear the custom validity message when the password fields are changed
            $('#create_new_password_page_new_password, #create_new_password_page_confirm_password').on('input', function() {
            document.getElementById("create_new_password_page_new_password").setCustomValidity('');
            document.getElementById("create_new_password_page_confirm_password").setCustomValidity('');
            });

        });
    </script>
</html>