<!DOCTYPE html>
<html lang="en" class="html_home">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="css/bootstrap-social.css">
      <link rel="stylesheet" type="text/css" href="../styles/home_page.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <title>Home Page</title>
  </head>
  <body>
    <div class="home_container">
      <h1 class="home_h1"> Food Recipes </h1>
      <h2 class="home_h2">A platform where you can search for food recipes, add your own recipes, follow the users of the recipes and lot more!!</h2>
      <div class="home_buttons">
        <a class="btn btn-info btn-lg" href="/register" role="button">Register</a>
        <a class="btn  btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
    <div class="home_copyright_container">
      <a href="https://www.freepik.com/free-photo/delicious-healthy-chia-pudding-with-banana-kiwi-chia-seeds_6579497.htm#page=9&query=healthy%20food%20recipes&position=33&from_view=keyword&track=ais&uuid=31516ab2-b643-40f3-b77d-7e79709208cd">Image by timolina</a> on Freepik
    </div>   
  </body>
</html>