<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password ?</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/forgot_password_page.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-social.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <form action = "/forgot-password" method = "post" id="forgot_password_page_form">
        <div class = "forgot_password_page_container">
            <div class = "forgot_password_page_title_container">
                <h1>Forgot Password?</h1>
                <p>Please enter your registered email address below so that a password reset link can be provided to the same</p>
                <hr>
            </div>
            
            <label for = "forgot_password_page_email"><b> Enter your registered Email Id</b></label>

            <input type = "text" placeholder="Enter your registered Email Id" name="forgot_password_page_email" id="forgot_password_page_email" size="250" required>

            <button type="submit" class="passwordResetLinkBtn btn btn-success" id="btnPasswordResetLinkSubmit">Send Password Reset link to above email id </button>
        </div>
    </form>

</body>
<script>
   /* $(document).ready(function () {
        document.getElementById('forgot_password_page_form').addEventListener('submit', function(event) {
            event.preventDefault();

            fetch('/forgotPassword', {
                method: 'POST',
                body: new FormData(this)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message); // Show success message
                    window.location.href = '/createNewPassword'; // Redirect to success page
                } else {
                    alert(data.message); // Show error message
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    }); */
</script>
</html>